/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.AttestationRecord
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object DefaultApi {

  /**
   * Adds an attestation
   * 
   * Expected answers:
   *   code 201 :  (item created)
   *   code 400 :  (invalid input, object invalid)
   *   code 409 :  (an existing item already exists)
   * 
   * @param &#x60;attestation ids and chainpoints&#x60; Attestation to ad
   */
  def addAttestation(&#x60;attestation ids and chainpoints&#x60;: Option[AttestationRecord] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://virtserver.swaggerhub.com/jwalsh/decentralized-identity/1.0.0", "/create.json", "application/json")
      .withBody(&#x60;attestation ids and chainpoints&#x60;)
      .withSuccessResponse[Unit](201)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](409)
        /**
   * 
   * 
   * Expected answers:
   *   code 201 :  (Attestation in progress)
   *   code 400 :  (invalid input, object invalid)
   *   code 409 :  (an existing item already exists)
   */
  def attestation1JsonGet(): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://virtserver.swaggerhub.com/jwalsh/decentralized-identity/1.0.0", "/attestation/1.json", "application/json")
      .withSuccessResponse[Unit](201)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](409)
        /**
   * 
   * 
   * Expected answers:
   *   code 201 :  (item created)
   *   code 400 :  (invalid input, object invalid)
   *   code 409 :  (an existing item already exists)
   */
  def listen1JsonPost(): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://virtserver.swaggerhub.com/jwalsh/decentralized-identity/1.0.0", "/listen/1.json", "application/json")
      .withSuccessResponse[Unit](201)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](409)
        /**
   * 
   * 
   * Expected answers:
   *   code 201 :  (Attestation queued)
   *   code 400 :  (invalid input, object invalid)
   *   code 409 :  (an existing item already exists)
   */
  def status1JsonGet(): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://virtserver.swaggerhub.com/jwalsh/decentralized-identity/1.0.0", "/status/1.json", "application/json")
      .withSuccessResponse[Unit](201)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](409)
      

}

